<div class="form-group">
	<label>Hide Image Hover Art</label>
	<input type="checkbox" name="flags.image-hover.hideArt" {{hideHoverStatus}}>
</div>
<div class="form-group">
	<label>Specific image on hover</label>
	<div class="form-fields">
	    <input class="specific-image" type="text" name="flags.image-hover.specificArt" value={{specificHoverStatus}}>
	    <button type="button" class="my-picker-button" data-type="imagevideo">
        	<i class="fas fa-file-import fa-fw"></i>
            </button>
        </div>
</div>